@import 'tailwindcss';

@plugin "@tailwindcss/typography";


@theme {
  --font-sans: Switzer, system-ui, sans-serif;

  --radius-4xl: 2rem;

}


@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

.animated-cards::before {
  @apply pointer-events-none absolute select-none rounded-3xl opacity-0 transition-opacity duration-300;
  background: radial-gradient(
    1000px circle at var(--x) var(--y),
    #c9ee80 0,
    #eebbe2 10%,
    #adc0ec 25%,
    #c9ee80 35%,
    rgba(255, 255, 255, 0) 50%,
    transparent 80%
  );
  content: "";
  inset: -1px;
  z-index: -1;
}
.animated-cards:hover::before {
  @apply opacity-100;
}

